:root {
    --branco-principal:#FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cinza-terciario: #F9F9F9;
    --botao-roxo: #6527BE;
    --cor-de-fundo: #9F82EF;
    --fonte-principal: 'inter';
    --action-color: #e52b36;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

* {
    margin: 0;
    padding: 0;
}

.conteudo__principal {
    background-image: url(./assets/imagem-background-03.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin:0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700px;
    margin: 0em 1em;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--botao-roxo);
    border-radius: 8px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
    transition: 0.5s;
}

.container__botao:hover {
    background-color: var(--action-color);
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 8em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 37px;
    color: var(--branco-principal);
    margin-bottom: 0.5em;
}

.descricao__texto {
    color: var(--cinza-terciario);
    font-weight: 400;
    font-size: 16px;
}

.secundario__botao {
    display: inline-block;
    margin-top: 2em;
}

.container__descricao {
    padding: 2em;
}

.envios {
    align-items:center;
    text-align: center;
    margin-bottom: 1em;
}

.envios__titulo {
    font-size: 48px;
    margin-bottom: 1em;
}

.envios__bloco {
    padding: 3%;
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 2em 17em;
}

.lista__botao {
    color: var(--branco-principal);
    text-decoration: none;
    font-family: var(--fonte-principal);
}

.rodape {
    text-align: center;
}

.lista__link {
    font-family: var(--fonte-principal);
    font-size: 16px;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 2em 7em;
}

.lista__botao:hover {
    color: var(--botao-roxo);
}

.lista__botao:active {
    color: var(--action-color);
}

@media screen and (max-width: 768px) {
    .container__geral {
        margin: 0;
    }

    .container {
        display: flex;
        align-items: center;
        width: 50vw;
        background-image: none;
        padding: 0;
        margin: 0em 6em;
        text-align:center;
        justify-content: center;
        scale: 70%;
    }

    .container__caixa {
        margin: 0;
        padding: 0;

    }

    .secundario {
        align-items: center;
        text-align: center;
        scale: 30%;
        padding: 0;
        margin: 0em 3em;
        height: 100vw;
    }

    .secundario__dois {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0em;
        padding: 0;
        width: 100%;
        scale: 50%;
    }

    .secundario__tres {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0em 3.5em;
        padding: 0em;
        gap: 20%;
        scale: 30%;
    }

    .container__imagem__dois {
        margin: 0em 0em 0em 20em;

    }

    .container__descricao__dois {
        display: flex;
        flex-direction: column;
        margin: 0 ;
        align-items: center;
        text-align: center;
        padding: 0em;
        width: 100%;
        scale: 120%;
    }

    .secundario__imagem {
        margin: 0em;
    }

    .container__descricao {
        text-align: center;
        align-items: center;
        margin: 0;
        padding: 0em;
        scale: 200%;
    }
    .descricao__texto__dois {
        text-align: center;
        padding: 0em 8em;
        margin: 0em;
        width: 100%;
    }

    .descricao__titulo {
        text-align: center;
        width: 100%;
        padding: 0em 2em;

    }

    .descricao__texto {
        text-align: center;
        padding: 0;
        margin: 0em 4em ;
        width: 100%;
    }

    .envios__bloco {
        scale: 50%;
    }

    .rodape {
        justify-content: center;
        margin: 0em 0.5em;
        padding: 0em 0em;
        gap: 0;
    }

    .rodape__lista{
        margin: 0;
        padding: 0;
    }

    .lista__botao {
        font-size: 6px;
        padding: 0em 0.5em;
        gap: 0;
        

    }

    .rodape__texto {
        font-size: 8px;
        margin: 2em 0em;
        padding: 0;
    }
}